@import "../../assets/scss/app.scss";

.inputview {
    padding: 0.47rem 1.75rem 0.47rem 0.75rem;
    font-size: 0.8125rem;
      font-weight: 400;
      line-height: 1.5;
      border: 1px solid $input-border-color !important;
      border-radius: 0.25rem;
      height: 36px;
  }

  .res_font {
    font-size: 0.8125rem;
  }
  @media screen and (max-width: 991px){
    .res_font {
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 575px) {
    .res_font {
      font-size: 0.65rem;
      line-height: 12px;
    }
  }